table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 2rem;

}

#timer{
  font-size:50px;
  border: .5em solid lightblue;
  width: 6em;
  text-align: right;
}


td, th {
  border: 1px solid rgb(190,190,190);
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-sizing: border-box;
  padding: 0px;
  vertical-align:0%; 
  
}

th {
  background-color:rgb(233, 232, 232)
}

td {
  text-align: center;
  background-color: rgb(250,250,250);
  /*overflow: hidden;*/
}

.black .white {
  display: block;
}


tr:nth-child(odd) td:nth-child(even) {
  background-color: rgb(245,230,245);
}

tr:nth-child(even) td:nth-child(odd){
  background-color: rgb(245,230,245);
}

td:hover,tr:nth-child(odd) td:nth-child(even):hover,tr:nth-child(even) td:nth-child(odd):hover{                        
  background-color:rgb(242, 220, 100);
  cursor:pointer;
}


caption {
  padding: 20px;
}

/*p { 
    border:10px solid powderblue;
    padding: 10px;  
    color: red;
    width: 40%;
}